@font-face {
    font-family: odin-font;
    src: url(items/Norse-Bold.otf);
}
body{
    display: flex;
}
.leftSide{
    display: flex;
    flex-direction: column;
}
.rightSide{
    display: flex;
    flex-direction: column;
}
.background .back{
    width: 800px;
   
}
.background .logo{
    background-color: black ;
    opacity: 50%;
}
.background .logo img{
   
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}