@font-face {
    font-family: odin-font;
    src: url(items/Norse-Bold.otf);
}
body{
    display: flex;
}
.leftSide{
    display: flex;
    flex-direction: column;
    background-image: url("items/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    height: 1000px;
    width: 600px;
}
.rightSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.paragraph{
    margin-bottom: 30px;
}
.butt{
    margin-top: 50px;
}
.butt button{
    padding: 10px 40px;
    font-weight: bold;
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    border: none;
}
.butt a{
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}
.background{
    width: 800px;
   
}
.background .back{

    width: 800px;
   
}

.background .logo{
    display: flex;
    align-items: center;
    width: 800px;
    color: white;
    font-size: 40px;
    font-family: odin-font;
    background-color: black;
}

.background .logo img{
   width: 100px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.backText{
    color:white;
}
.backText a{
    color:white;
}